.quizz {
    & .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap :1rem;
    
    }
  &  button.next{
        width: 90%;
        
        margin: 5vh auto;
        display: block;
    }
}
.quizzlist{
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2{
        color: lightcoral;
        font-weight: bold;
        font-size: 2rem;
    }
    & .theQuizz{
        & .Menu {
            margin: auto;
            & button{
                width: 100%;
            }
        }
    }
}