@import '../helpers/mixins';
.skill{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s;
    border: 1px solid lightcoral;
    &:hover{
        background-color: lightcoral;
        color: white;
    }
    & label{
        padding-left: .5rem;
    }
    margin: 0 7.5rem;
    & progress{
        width: 30vw;
        padding: 1rem;
        margin: 1rem;

    }
}
.skill {
    & progress {
        background-color: lightblue;
      }
      
     & progress::-webkit-progress-value {
        background: lightblue;
      }
      
     & progress::-moz-progress-bar {
        background: lightcolor;
      }
      
     & progress::-webkit-progress-value {
        background: red;
      }
      
     & progress::-webkit-progress-bar {
        background: blue;
      }
}